# Bonus: Temperature Analysis I

In [15]:
import pandas as pd
from datetime import datetime as dt

In [16]:
# "tobs" is "temperature observations"
df = pd.read_csv('Resources/hawaii_measurements.csv')
df.head()

       station        date  prcp  tobs
0  USC00519397  2010-01-01  0.08    65
1  USC00519397  2010-01-02  0.00    63
2  USC00519397  2010-01-03  0.00    74
3  USC00519397  2010-01-04  0.00    76
4  USC00519397  2010-01-06   NaN    73

In [18]:
# Convert the date column format from string to datetime
df["date"]= pd.to_datetime(df["date"])
df.dtypes

station            object
date       datetime64[ns]
prcp              float64
tobs                int64
dtype: object

In [19]:
# Set the date column as the DataFrame index
df.set_index('date', inplace=True)
df

                station  prcp  tobs
date
2010-01-01  USC00519397  0.08    65
2010-01-02  USC00519397  0.00    63
2010-01-03  USC00519397  0.00    74
2010-01-04  USC00519397  0.00    76
2010-01-06  USC00519397   NaN    73
...                 ...   ...   ...
2017-08-19  USC00516128  0.09    71
2017-08-20  USC00516128   NaN    78
2017-08-21  USC00516128  0.56    76
2017-08-22  USC00516128  0.50    76
2017-08-23  USC00516128  0.45    76

[19550 rows x 3 columns]

### Compare June and December data across all years

In [6]:
from scipy import stats

In [47]:
# Filter data for desired months
December=df[df.index.month == 12]
June=df[df.index.month == 6]
# Identify the average temperature for June
jun_tempavg = June["tobs"].mean()
# Identify the average temperature for December
dec_tempavg = December["tobs"].mean()

print(f'''the average temperature for June across the years was {jun_tempavg},
while the average temperature for December was {dec_tempavg},
December had {December["tobs"].count()} measurements while June had {June["tobs"].count()}.
there was {December["tobs"].isnull().sum()} null data for december and {June["tobs"].isnull().sum()} for june across all the data gathered''')

the average temperature for June across the years was 74.94411764705882,
while the average temperature for December was 71.04152933421226,
December had 1517 measurements while June had 1700.
there was 0 null data for december and 0 for june across all the data gathered

In [42]:
#independent t-test
stats.ttest_ind(December["tobs"], June["tobs"])

Ttest_indResult(statistic=-31.60372399000329, pvalue=3.9025129038616655e-191)

In [41]:
# Run paired t-test
stats.ttest_rel(December["tobs"], June["tobs"])

ValueError: unequal length arrays

### Analysis

I decided to run an independent t test since the lenght of both sets was different (no null for any of them) and they were independent from eachother, when trying to run the paired t test code it didnt work because of that reason. the P value obtained was way above the alpha or hypothesis of 0.05 which shows that those two sets of date are not statistically significant to each other.